@import "tailwindcss";



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-green: #31A046;
  --color-Gray: #BCBBB9;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@layer components {
  .GeneralPurposeBg{
    @apply bg-cover bg-center bg-no-repeat;
    background-image: url('/GeneralPurpose.svg');
  }
}


/* ローディング用のアニメーションしてます */
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-clockwise {
  animation: rotateClockwise 10s linear infinite; 
  transform-origin: center; 
}



